.footer-listfont {
  color: #fd791a;
  text-align: center;
  list-style-type: none;
  font-size: 1.3rem;
  font-weight: bold;
}

.footerlink {
  text-decoration: none;
  color: #fd791a;
}
.footerlink:hover {
  text-decoration: none;
  color: #fd791a;
}

.line {
  height: 5px;
  background-color: #17a2b8;
}
.logo-footer img {
  height: 100px;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .logo-footer img {
    height: 200px;
  }
  .footer-icons i {
    color: #fd791a;
    font-size: 2rem;
    margin-top: 1rem;
  }
  .footer-listfont {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
}
.footer-icons i {
  color: #fd791a;
  font-size: 3.5rem;
}

.sibling-fade {
  visibility: hidden;
}
.sibling-fade > * {
  visibility: visible;
}
.sibling-fade > * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}
.sibling-fade:hover > * {
  opacity: 0.4;
  transform: scale(0.9);
}
.sibling-fade > *:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
}

.sibling-fade {
  display: flex;
  flex-wrap: wrap;
}

.sibling-fade > * {
  background: white;
  flex: auto;
  text-align: center;
  color: #fd791a;
  text-decoration: none;
}

a.effect-underline:after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 58%;
  margin-left: 21%;
  border-bottom: 2px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.footer-map iframe {
  width: 100%;
  height: 200px;
  border: 0;
}
.copyright {
  width: 100%;
  background-color: rgba(252, 3, 90);
  color: #fff;
}
.copyright p {
  padding: 0;
  margin: 0;
}
