.inputstyle input{ 
border-radius: 3px;
}

.btnstyle{
    width: 150px;
}

.contact-form {
    position: relative;
    justify-content: center;
}

.maxwidth{
    width: 90vw;
}

@media (min-width: 576px) {
    .maxwidth{
        width: 400px;
    }
}