.spinner{
    background-color: #9a9a9359;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}
