
.activo{
  border: solid 1px orange;
  margin-right: 3px;
}

.btn-pag {
  margin-top: 4px;
  background-color: #fc1c6a !important;
  border-color: #fc1c6a !important;
}

.btn-pag:hover {
  color: white !important;
  opacity: 0.8;
}


/* NO USAR SELECTORES DE CSS DIRECTAMENTE SOBRE TAGS HTML, USAR SIEMPRE CLASES */
/* a:not([href]){
  color: black;
} */