.contactopart {
    border: rgba(252, 3, 90) 5px dashed;
    height: 100%;
  }
  .contactopart p {
    font-family: "Cabin Sketch", cursive;
    color: #fd791a;
    font-size: 4rem;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }
  .contacto-text p {
    font-family: "Quicksand", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: normal;
    text-decoration-line: none;
  }
  .contacto-firma img {
    width: 50px;
  }
  .contacto-firma h4 {
    font-family: "Cabin Sketch", cursive;
    color: #fd791a;
    font-weight: bold;
    font-size: 45px;
  }
  
  .mailinput {
    max-width: 30rem;
  }
  .contactoinput {
    max-width: 30rem;
    height: 10rem;
  }
  
  .contacto-emergencia p {
    font-family: "Quicksand", sans-serif;
    text-decoration-line: none;
  
    border: solid 2px red;
    font-size: 15px;
    color: black;
    font-weight: bold;
  }
  