.contactopart {
  border: rgba(252, 3, 90) 5px dashed;
}
.contactopart-title {
  margin-bottom: 0;
  padding-bottom: 0;
}
.contactopart-title p {
  font-family: "Cabin Sketch", cursive;
  color: #fd791a;
  font-size: 4.2rem;
  font-weight: bold;

  margin-bottom: -2rem;
}
@media (max-width: 575.98px) {
  .contactopart-title p {
    font-size: 3.2rem;
  }
}

.contacto-text p {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: normal;
  text-decoration-line: none;
}
.contacto-text span {
  color: #fd791a;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

.contacto-firma img {
  width: 50px;
}
.contacto-firma h4 {
  font-family: "Cabin Sketch", cursive;
  color: #fd791a;
  font-weight: bold;
  font-size: 45px;
}

.mailinput {
  max-width: 30rem;
}

.contactoinput {
  max-width: 30rem;
  height: 10rem;
}

.contacto-emergencia p {
  font-family: "Quicksand", sans-serif;
  text-decoration-line: none;

  border: solid 2px red;
  font-size: 15px;
  color: black;
  font-weight: bold;
}
