.widthImg tr th {
  width: fit-content;
}

.widthImg tr td:last-child {
  max-width: auto;
}

.img {
  max-height: 3rem;
}
.card-text img {
  width: 3.3rem;
}
.buyBtn {
  border-radius: 4px;
  background-color: rgba(252, 3, 90);
  text-align: center;
  font-size: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}


.buyBtn:hover {
  border-radius: 4px;
  background-color: rgb(241, 3, 87);
  text-align: center;

  font-size: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
a:not([href]) {
  color: #ffffff;
}
a:not([href]):hover {
  color: #ffffff;
}
